*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 200;
	color: #333333;
	text-transform: uppercase;

	background-color: #eeeeee;
}

a {
	text-decoration: none;
}

.wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	background-color: white;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px;
    padding: 0 !important;
    border: 0 !important;
 	clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.btn {
	font-family: inherit;
	font-weight: 700;

	text-align: center;
	color: white;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}	

.btn:hover,
.btn:focus {
	background-color: #669ec0;
}

.btn:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.btn-brown {
	background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus	 {
	background-color: #604e43;
}

.btn-brown:active {
	background-color: #503e33;
}


/*header start*/
.page-header {
	width: 100%;
	min-height: 56px;
	background-color: white;
}	

.header-logo {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.header-logo img {
	width: 140px;
	height: 72px;
}

.main-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;

	margin: 0;
	padding: 0;

	list-style: none;
}

.main-nav li {	
	display: block;	
	min-width: 250px;
	padding-top: 18px;
	padding-bottom: 16px;
}

.main-nav li:nth-child(4n-3),
.main-nav li:nth-child(4n-2) {
	text-align: left;
	justify-content: flex-start;
}

.main-nav li:nth-child(4n-1),
.main-nav li:nth-child(4n) {
	text-align: right;
	justify-content: flex-end;
	padding-right: 72px;
}

.main-nav li:nth-child(4n-3) {
	padding-left: 72px;
}

.main-nav li:nth-child(4n-2) {
	padding-left: 62px;
	margin-right: auto;
}

.main-nav li:nth-child(4n-1) {
	padding-right: 62px;
}

.main-nav li:nth-child(4n) {
	padding-right: 72px;
}

.main-nav a {
	font-size: 14px;
	font-weight: 700;
	color: black;
	text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
	color: #81b3d2;
}

.main-nav a:active {
	color: rgba(0, 0, 0, 0.3);
} 
/*header end*/

/*intro start*/
.welcome-pic {
	display: block;
	width: 1200px;

	background-color: rgba(129, 179, 210, 0.5);
 	background-image: url("../img/background-photo.jpg");
 	background-position:  center -83px;
 	background-repeat: no-repeat;
 	-webkit-background-size: 1200px 800px;
 	background-size: 1200px 800px;

 	text-align: center;
 	z-index: -1;
}

.welcome-pic img {
	display: block;
	box-sizing: content-box;
	padding-top: 77px;
	padding-bottom: 78px;
	margin-bottom: 271px;
	margin-left: auto;
	margin-right: auto;
	width: 459px;
	height: 353px;
}

.intro {
	display: block;
	margin-top: -252px;
	padding-bottom: 53px;
	box-sizing: border-box;
	background-color: white;
	z-index: 2;
}

.intro::before {
	content: "";
	display: block;
	padding: 0;
	margin: 0;
	width: 1202px;
	height: 59px;
	background-image: url("../img/polygon.png");
	transform: translateY(-77px);
	margin-left: -1px;
}

.intro p {
	max-width: 490px;
	margin: 0 auto;
}

.intro p:first-of-type {
	max-width: 440px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: -18px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}
/*intro end*/

/*advantages start*/
.advantages,
.reasons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.reasons-description {
	width: 400px;
	padding-top: 145px;
	padding-right: 69px;
	padding-left: 69px;
	padding-bottom: 68px;
	text-align: center;
} 	

.reasons-description h2 {
	position: relative;
}

.reasons-description h2::before {
	content: "";
	position: absolute;
	bottom: 47px;
	left: 50%;
	transform: translateX(-50%);

	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.reasons-accomodation h2::before {
	background-image: url(../img/icon-1.svg);
}

.reasons-meals h2::before {
	background-image: url(../img/icon-3.svg);
}

.reasons-souvenirs h2::before {
	background-image: url(../img/icon-2.svg);
	transform: translateX(-43%);
	bottom: 51px;
}

.reasons-description p {
	margin-top: 23px;

	text-align: center;
}

.advantages-grey .advantages-description {
	width: 400px;
	padding-top: 47px; 	
	padding-right: 69px;
	padding-left: 69px;
	padding-bottom: 60px;
	text-align: center;
	background-color: #eeeeee;
}

.advantages-grey h2 {
	display: block;
	max-width: 150px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.advantages-grey p {
	margin-top: 18px;
	margin-bottom: 0;
}

.advantages-blue {
	width: 100%;
	color: white;
	background-color: #81b3d2;
}

.advantages-blue .advantages-description {
	display: block;
	width: 400px;
	box-sizing: border-box;
	text-align: center;
}

.advantages-blue h2 {
	margin-bottom: 22px;
}

.advantages-blue p {
	margin-top: 22px;
}

.advantages-blue .advantages-description {
	padding-top: 30px;
	padding-right: 49px;
	padding-left: 48px;
}

.advantages-blue h2,
.reasons h2,
.advantages h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.advantages-image img{
	display: block;
	width: 800px;
	height: 256px;
}
/*advantages end*/

/*book-hotels start*/
.book-hotels-intro {
	width: 450px;
	margin: 0 auto;
	padding-top: 33px;
	text-align: center;
}

.book-hotels-intro h2 {
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 21px;
	font-weight: 700;
	color: black;
}

.btn-hotels {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 31px;
	padding-bottom: 29px;
	font-size: 21px;
	line-height: 26px;
}

.booking-form {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 568px;
	padding-top: 56px;
	padding-right: 55px;
	padding-left: 55px;
	padding-bottom: 55px;
	background-color: white;
	font-weight: 700;
	z-index: 5;
	display: block;
	animation: bounce;
	animation-duration: 1s;
	z-index: 5;	
}

@keyframes bounce {
	0% { transform: translateY(-100px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0px); }
 }

.booking-form-hidden {
	 display: none;
}

.booking-form input[type="number"]::-webkit-outer-spin-button,
.booking-form input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.booking-form input[type='number'] {
    -moz-appearance: textfield;
}

.booking-form input[type="text"]::placeholder {
	text-transform: uppercase;
}

.booking-form input[type="text"]:-moz-placeholder {
	text-transform: uppercase;
}

.booking-form input[type="text"]:-ms-input-placeholder {
	text-transform: uppercase;
}

.booking-field,
.booking-field-people {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
}

.booking-field {
	margin-bottom: 28px;
}

.booking-field input {
	width: 346px;
	height: 38px;
	padding-left: 13px;
	padding-right: 40px;

 	font: inherit;

 	background-color: #f2f2f2;
 	border: none;
}

.booking-field input:hover {
	background-color: #ebebeb;
}

.booking-field input:focus {
	outline: none;
	background-color: white;
	border: 2px solid #e5e5e5;
	padding-left: 11px;
}

.booking-field.half input {
	width: 38px;
	padding: 0;
	text-align: center;
}

.adults-label {
	margin-right: 41px;
}

.booking-field.half:first-child {
	margin-right: 53px;
}

.children-label {
	margin-right: 27px;
}

.adults-minus,
.adults-plus,
.children-minus,
.children-plus {
	position: relative;
	width: 38px;
	height: 38px;

	background-color: #f2f2f2;
	border: 0;

	cursor: pointer;
}

.adults-minus::before,
.children-minus::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 12px;
	height: 3px;
	background-color: #cacaca;
	z-index: 2;
}
.adults-plus::before,
.children-plus::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11px;
	height: 3px;
	background-color: #cacaca;
	z-index: 2;
}

.adults-plus::after,
.children-plus::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	width: 11px;
	height: 3px;
	background-color: #cacaca;
	z-index: 2;
}

.adults-minus:hover::before,
.adults-plus:hover::before,
.adults-plus:hover::after,
.children-minus:hover::before,
.children-plus:hover::before,
.children-plus:hover::after {
	background-color: black;
}

.adults-minus:active::before,
.adults-plus:active::before,
.adults-plus:active::after,
.children-minus:active::before,
.children-plus:active::before,
.children-plus:active::after {
	background-color: #81b3d2;
}

.calendar {
	position: absolute;
	left: 478px;

	border: none;
	outline: 0 none;
	background-color: transparent;
}

.calendar svg {
	fill: #cacaca;
}


.calendar:hover svg {
	fill: black;
}

.calendar:active svg {
	fill: #81b3d2;
}

button.adults-minus:disabled,
button.adults-plus:disabled,
button.children-minus:disabled,
button.children-plus:disabled {
	opacity: 0%;
}

.btn-search {
	width: 100%;
	padding-top: 18px;
	padding-bottom: 14px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	margin-top: 28px;
}

.map iframe {
	position: absolute;
	width: 1200px;
	height: 593px;
	z-index: 2;
}
/*book-hotels end*/

/*footer start*/
.page-footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	min-height: 120px;
	margin: 0 auto;
	padding-bottom: 10px;

	background-color: rgba(255, 255, 255, 0.9);
}

.index-footer {
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: 5;	
}

.page-footer a,
.page-footer p {
	font-size: 21px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 26px;
	font-weight: 700;
	color: black;
}

.page-footer a:hover,
.page-footer a:focus {
	color: #81b3d2;
}

.page-footer a:active {
	color: rgba(0, 0, 0, 0.3);
} 

.footer-left,
.footer-middle,
.footer-right {
	width: 400px;
}

.footer-left {
	padding-top: 5px;
	padding-left: 125px;
}

.footer-left a {
	margin-bottom: 0;
}

.footer-left p {
	margin-top: 6px;
}

.footer-middle {
	padding-top: 13px;
}

.footer-middle ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;

	list-style: none;
	padding: 0;
}

.footer-middle li {
	margin-right: 6px;
	margin-bottom: 6px;
}

.footer-middle li:last-child {
	margin-right: 0;
}

.footer-middle a {
	display: block;
	
	width: 46px;
	height: 48px;
	padding-top: 12px;
	text-align: center;
}

a.fb {
	padding-top: 13px;
}

.footer-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 8px;
}

.htmlacademy-logo {
	display: block;
	width: 115px;
	height: 41px;
	margin-left: 8px;
}

.htmlacademy-logo:hover path {
	fill: #81b3d2;
}

.htmlacademy-logo:active path {
	fill: #bdbbbc;
}
/*footer-end*/




/*====================HOTELS====================*/
.main-nav .current {
	color: #766357;
}

.main-nav .current:hover {
	color: #766357;
}

/*filters start*/
.filters {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 28px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 31px;

	background-color: rgba(129, 179, 210, 0.5);
	background-image: url(../img/filter-background.jpg);
	-webkit-background-size: 1200px 800px;
	background-size: 1200px 800px;
	background-position: center -300px;
	color: white;
}

.filters fieldset {
	
	margin: 0;
	padding: 0;
	border: 0 none;
}

fieldset.filter-accomodation {
	margin-left: 118px;
}

.filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filters li {
	position: relative;
}

.filter-facilities {
	margin-right: 115px;
}

.check {
	display: block;
	padding-left: 40px;
	margin-top: 25px;
}

.check-input {
	position: absolute;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check-box {
	position: absolute;
	top: -1px;
	left: -3px;
	width: 31px;
	height: 27px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 27px 23px;
	background-size: 27px 23px;
	padding: 2px;
}

.check-input:focus + .check-box {
	border: 3px solid #81b3d2;
	margin-left: -3px;
	margin-top: -3px;
}

.check-input:checked + .check-box {
	background-image: url(../img/checkbox-on.svg);
	left: -1px;
}

.check-input:disabled + .check-box {
	background-image: url(../img/checkbox-off.svg);
	opacity: 30%;
}

.check-input:disabled:checked + .check-box {
	background-image: url(../img/checkbox-on.svg);
	left: -1px;
	opacity: 30%;
}

	/*range start*/
.filter-range {
	width: 318px;
	margin-left: auto;

	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
  
	height: 36px;
	margin-bottom: 20px;
  
	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 32px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 157px;
	padding-left: 15px;
	text-align: center;
}

.price-controls input {
	width: 40px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.price-controls input[type='number'] {
    -moz-appearance: textfield;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 20px;
	height: 20px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 33px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background-color: #ffffff;
}
	/*range end*/

/*filters end*/

/*sort start*/
.results {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sort-criterias,
.sort-listing,
.results ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}

.results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.results-text {
	min-width: 115px;

	font-size: 21px;
	font-weight: 700;
}

.sort-criterias {
	margin-left: 50px;
}

.sort-criterias p {
	justify-content: flex-start;
	margin-right: 40px;
	width: 75px;
	font-size: 12px;
	font-weight: 700;
}

.sort-criterias li {
	margin-right: 33px;
}

.sort-criterias li:last-child {
	margin-right: 0;
}

.sort-criterias a{
	display: block;
	padding-bottom: 1px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-criterias a:hover {
	color: #81b3d2;
}

.sort-criterias a:active {
	color: #000000;
	border: none;
}

.sort-criterias a.shown {
	color: #81b3d2;
	border: none;
}

.sort-listing {
	justify-content: flex-end;
	margin-left: auto;
	width: 40px;
}

.up,
.down {
	width: 11px;
	height: 10px;
}

.up {
	margin-right: 10px;
}

.up svg,
.down svg {
	fill: #cacaca;
}

a.up:hover svg,
a.down:hover svg {
	fill: black;
}

a.up:active svg,
a.down:active svg,
.listing-active svg,
a.listing-active:hover svg {
	fill: #81b3d2;
}
/*sort end*/

.hotel-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: stretch;

	border-bottom: 1px solid rgba(0, 1, 1, 0.2);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
}

.hotel-item:first-child {
	border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-pic {
	display: block;
	width: 135px;
	height: 90px;
}

.hotel-title {
	margin: 0;
}

.hotel-title a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: black;
}

.hotel-title a:hover {
	color: #81b3d2;
}

.hotel-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-details {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: 30px;
	justify-content: space-between;
}

.hotel-details .btn {
	min-width: 110px;
	line-height: 21px;
	padding-right: 17px;
	padding-left: 17px;
	padding-top: 7px;
	padding-bottom: 4px;
}

.hotel-details .btn-brown {
	min-width: 142px;
	margin-right: 6px;
	padding-right: 16px;
	padding-left: 16px;
}

.hotel-rating {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: auto;
}

.hotel-type {
	display: inline-block;
	vertical-align: top;
	width: 110px;
	padding: 0;
}

.hotel-price {
	display: inline-block;
	vertical-align: top;
}

.rating {
	display: block;
	width: 110px;
	padding-top: 5px;
	padding-bottom: 6px;
	color: #666666;
	background-color: #f2f2f2;
	text-align: center;
	margin-top: auto;
	margin-bottom: 0;
}

.stars{
	display: block;
	min-width: 18px;
	height: 17px;
	margin-left: auto;
	margin-bottom: auto;

	background-image: url(../img/star.svg);
	background-repeat: space repeat;
	-webkit-background-size: 18px 17px;
	background-size: 18px 17px;
}

.stars-1 {
	width: 18px;
	background-repeat: no-repeat;
}

.stars-2{
	width: 40px
}
.stars-3{
	width: 60px
}
.stars-4{
	width: 84px
}
.stars-5{
	width: 105px
}